.sidebar{
    height: 100vh;
    background-color: #efefee;
}
.btn{
    width: 100%
}
.dropdown-menu{
    width: 100% 
}
@media (max-width: 767px) {
    .sidebar {
        height: auto; /* Cambiar la altura a automático para permitir que el contenido determine la altura */
    }
}