<div class="container mt-5">
    <div class="d-flex justify-content-between">
        <div class="col-10">
            <h1>Catalogo CIL</h1>
        </div>
        <div class="col">
            <button (click)="openDialogCil()" class="btn btn-success btn-lg" style="width: 100%;">Agregar CIL (
                <mat-icon style="padding-top: 4px;" aria-hidden="false" aria-label="Example home icon" fontIcon="add"></mat-icon>
            )
            </button>
        </div>
    </div>
    <div class="row">
        <div class="conteiner mt-3">
            <tabla-main-page></tabla-main-page>
        </div>
    </div>
</div>