<div class="container colors">
    <div class="d-flex justify-content-between">
        <h1 class="col-10">{{ data.TipoBoton == 'edit' ? 'EDITAR MANTENEDORES' : 'AGREGAR MANTEDORES'}}</h1>
        <button  type="button" class="btn btn-danger col-2 mt-3 close" (click)="close()">
            <mat-icon aria-hidden="false" fontIcon="close"></mat-icon>
        </button>
    </div>
</div>
<div class="container">
    <form [formGroup]="Mantenedorforms" class="mt-3 mb-3" >
        <div class="row mt-3">
            <div class="form-group col-md-12">
                <label for="campo1" class="">Descripcion del Mantendor</label>
                <input type="text" class="form-control mt-1" [placeholder]="dataMantenedor.desc_mantenedor" formControlName="desc_mantenedor" autocomplete="off">
                <div *ngIf="Mantenedorforms.get('desc_mantenedor')!.hasError('required') && Mantenedorforms.get('desc_mantenedor')!.touched" class="text-danger">
                    Necesitas llenar este campo.
                </div>
                <div *ngIf="Mantenedorforms.get('desc_mantenedor')!.hasError('maxlength')" class="text-danger">
                    No puede tener mas de 20 letras
                </div>
            </div>
        </div>
        <div class="row mt-3 d-flex flex-row-reverse">
            <div class="col-md-3">
                <button 
                    [class.edit-button]="data.TipoBoton === 'edit'" [class.add-button]="data.TipoBoton === 'add'"
                    style="width: 100%;" class="btn btn-primary" (click)="editForm()">
                    <div class="addedit">
                        <mat-icon aria-hidden="false"  fontIcon="save"></mat-icon>
                        <span style="padding-left: 10px">{{data.TipoBoton == 'edit' ? 'Editar' : 'Agregar'}}</span>
                    </div>
                </button>
            </div>                               
        </div>
    </form>
</div>