.custom-navbar {
    background-color: #455560 !important;
  }
 .white-icon {
    fill: white;
  }
  .side-nav-button{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2.5rem;
    cursor: pointer;
  }