.custom-navbar {
    background-color: #455560 !important;
  }
  
  .navbar img{
    filter: invert(1);
  }
 .white-icon {
    fill: white;
  }
  .side-nav-button{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2.5rem;
    cursor: pointer;
    margin-right: 110%;
    margin-left: 2%; 
  }
  .side-nav-button:hover{
     background-color: #9dc1d8;
     border-radius: 30%;
  }