.card{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
}
.logo{

    height: 170px;
    width: 360px;
}
.body{
width: 100%;
margin: auto;
text-align: center;
}

.card-header{
    background-color: white;
    opacity: 0.9;
}
.card-background {
    background-image: url('http://10.10.76.150:8080/imagenes/recover-password.png');
    background-size: cover;
    background-position: center;
}