<div class="card card-background">
    <div class="card-header">
        <div class="body">
            <img class="logo mb-3" src="http://10.10.76.150:8080/imagenes/card-login.png" alt="">
            <br>
            <form (ngSubmit)="validatePassword()" [formGroup]="newPassword">
                <h4 class="d-flex flex-row">Contraseña</h4>
                <div class="form-floating mb-3">
                    <input type="email" formControlName="newPassword1" class="form-control"
                        placeholder="name@example.com">
                    <label>Contraseña</label>
                </div>
                <h4 class="d-flex flex-row">Confierme su contraseña</h4>
                <div class="form-floating">
                    <input type="password" formControlName="newPassword2" class="form-control" placeholder="Password">
                    <label>Confierme su contraseña</label>
                </div>
                <button type="submit" class="btn btn-danger mt-3">Recuperar</button>
            </form>
        </div>
    </div>
</div>