<div class="container colors">
    <div class="d-flex justify-content-between">
        <h1 class="col-10">{{ data.TipoBoton == 'edit' ? 'EDITAR INSPECCION' : 'AGREGAR INSPECCION'}}</h1>
        <button  type="button" class="btn btn-danger col-2 mt-3 close" (click)="close()">
            <mat-icon aria-hidden="false" fontIcon="close"></mat-icon>
        </button>
    </div>
</div>
<div class="container">
    <form [formGroup]="inspeccionesForm" class="mt-3 mb-3" >
        <div class="row mt-3">
            <div class="form-group col-md-6">
                <label for="campo1" class="">Tipo de Inspeccion</label>
                <input type="text" class="form-control mt-1" [placeholder]="dataInspecciones.tipo_inspeccion" formControlName="tipo_inspeccion" autocomplete="off">
                <div *ngIf="inspeccionesForm.get('tipo_inspeccion')!.hasError('required') && inspeccionesForm.get('tipo_inspeccion')!.touched" class="text-danger">
                    Necesitas llenar este campo.
                  </div>
                <div *ngIf="inspeccionesForm.get('tipo_inspeccion')!.hasError('maxlength')"
                  class="text-danger">
                    No se admiten más de 3 letras.
                </div>
            </div>
            <div class="form-group col-md-6">
                <label for="campo2">Descripcion de tipo de Inspeccion</label>
                <input type="text" class="form-control mt-1" [placeholder]="dataInspecciones.desc_tipo_inspeccion" formControlName="desc_tipo_inspeccion" autocomplete="off">
                
                <div *ngIf="inspeccionesForm.get('desc_tipo_inspeccion')!.hasError('required') && inspeccionesForm.get('desc_tipo_inspeccion')!.touched" class="text-danger"> 
                    Necesitas llenar este campo.
                </div>
            </div>
        </div>
        <div class="row">
            <div class="form-group col-md-6">
                <label for="campo2">Tiempo meta</label>
                <input type="text" class="form-control mt-1" [placeholder]="dataInspecciones.tiempo_meta" formControlName="tiempo_meta" autocomplete="off">
                <div *ngIf="inspeccionesForm.get('tiempo_meta')!.hasError('required') && inspeccionesForm.get('tiempo_meta')!.touched" class="text-danger"> 
                    Necesitas llenar este campo.
                </div>
            </div>
        </div>
        <div class="row mt-3 d-flex flex-row-reverse">
            <div class="col-md-3">
                <button 
                    [class.edit-button]="data.TipoBoton === 'edit'" [class.add-button]="data.TipoBoton === 'add'"
                    style="width: 100%;" class="btn btn-primary" (click)="editForm()">
                    <div class="addedit">
                        <mat-icon aria-hidden="false"  fontIcon="save"></mat-icon>
                        <span style="padding-left: 10px">{{data.TipoBoton == 'edit' ? 'Editar' : 'Agregar'}}</span>
                    </div>
                </button>
            </div>                               
        </div>
    </form>
</div>