<div class="fondo">
    <ng-container *ngIf="empleado.Status; else usuarioDesactivado">
        <div class="container">
            <div class="card">
                <div class="card-header">
                    <div class="row justify-content-between">
                        <h1 class="col-10">Selecciona tu CIL</h1>
                        <div class="col-2 text-center"> 
                            <button (click)="logOut()" class="btn ajustar">
                                <span>Cerrar sesión </span>
                                <mat-icon aria-hidden="false" fontIcon="logout"></mat-icon>
                            </button>
                        </div>
                    </div>
                </div>             
                <div class="card-body">
                    <mat-form-field style="width: 100%;">
                        <mat-label>Selecciona Cil</mat-label>
                        <mat-select [(ngModel)]="CilSeleccionado">
                            <mat-option *ngFor="let cil of cilArrayTodos" [value]="cil.id_cil">
                                Cil: {{ cil.id_cil }} Descripcion: {{ cil.desc_cil }}
                            </mat-option>
                        </mat-select>
                    </mat-form-field>
                    <mat-error style="margin-left: 3px;" *ngIf="mensaje">No seleccionaste ninguna opción</mat-error>
                    <div class="row d-flex justify-content-end">
                        <div class="col-4">
                            <button style="width: 100%;" (click)="enviarDatos()" class="btn btn-lg">Aceptar</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </ng-container>
    <ng-template #usuarioDesactivado>
        <div class="container">
            <div class="card">
                <div style="background-color: rgb(255, 255, 255); border-radius: 1rem;" class="card-body">
                    <div class="row justify-content-between">
                        <h2 class="col-10 mb-5">Tu usuario está desactivado</h2>
                        <button (click)="logOut()" class="btn  ajustar col-2">
                            <span> Regresar a login </span>
                            <mat-icon aria-hidden="false" fontIcon="logout"></mat-icon>
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </ng-template>
</div>